.container {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:rgb(188, 165, 141);
    margin: 0;
    padding: 0;
  }

  .navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .navList li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navList li a:hover {
    color: #00aced;
  }

  .about {
    text-align: center;
    margin-top: 50px;
  }
  
  .about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 1.2rem;
  }
  