
.container {
  min-height: 100vh;
  padding: 90px 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(189,167,149);
}

.loginHeader {   /*header on the login page*/
  display: flex;
  justify-content: center;
}

.loginText {  /*text underneath header on login page*/
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navList li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navList li a:hover {
  color: #00aced;
}

.main {
  text-align: center;
  margin-top: 50px;
}

.main h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.main p {
  font-size: 1.2rem;
}


/* Center and style the button */
.buttonContainer {
display: flex;
justify-content: center;
margin-top: 30px;
}

.signInButton {
background-color: #4285f4; /* Google blue */
color: white;
border: none;
border-radius: 5px;
padding: 12px 24px;
font-size: 1rem;
font-weight: bold;
cursor: pointer;
transition: all 0.3s ease;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signInButton:hover {
background-color: #357ae8; /* Darker blue on hover */
box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.signInButton:active {
background-color: #2a65d0; /* Even darker on click */
transform: scale(0.98); /* Slightly shrink for a click effect */
}